:root {
    --island-white: #f8f8f8;
    --home-light-gray: #e8e8e8;
    --home-gray: #d8d8d8;
    --home-blue: #0077ff;
}

.island {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13%;
    color: #090909;
    border-radius: 2em;
    background: var(--island-white);
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.dot-background {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: radial-gradient(rgba(171, 171, 171, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}