* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.app {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    padding: 10px;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

/* Icon Options Containers */
.mainOptions,
.socialOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    height: 56px;

    padding: 0 7px;

    width: fit-content;
    min-width: 56px;
    max-width: 56px;

    transition: max-width 0.5s ease 0.2s, padding 0.5s ease 0.2s;

    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.mainOptions:hover,
.mainOptions.expanded,
.socialOptions:hover,
.socialOptions.expanded {
    max-width: 30vw;
    padding-left: 12px;
    padding-right: 12px;
    overflow-x: auto;

    transition: max-width 0.5s ease 0s, padding 0.5s ease 0s;
}

.mainOptions::-webkit-scrollbar,
.socialOptions::-webkit-scrollbar {
    display: none;
}

.mainOptions {
    justify-content: flex-start;
}

.socialOptions {
    direction: rtl;
    justify-content: flex-start;
}

/* Icon Buttons */
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    font-size: 24px;
    background: transparent;
    border: none;
    border-radius: 16px;
    margin: 0;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.5s ease;
}

.icon-button:hover {
    transform: scale(1.1);
    background-color: var(--home-gray);
    outline: 2px solid var(--home-blue);
}

.icon-button:active {
    transform: scale(0.95);
}

/* Info Island */
.infoIsland {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 20px;
    width: 56px;
    height: 56px;
    min-width: 56px;
    max-width: 50%;
    transition: all 0.5s ease;
    overflow: hidden;
    white-space: nowrap;
}

/* Content */
.content {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.homeSlot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.5s ease;
}

.homeSlot.selected {
    transform: scale(1.025);
    outline: 4px solid var(--home-blue);
    background-color: var(--home-gray);
}

.fullSlot {
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.5s ease;
}

.fullSlot:active {
    transform: scale(0.95);
}

.slotDot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--home-light-gray);
}